h1 {
        color: red; 
        font-size: 40px;
    }
    .tolleKlasse, .test{
        color: blue;
        font-size: 60px;
    }

.section-start {
    border: 1px solid rgb(117, 62, 62);
    margin-bottom: 30px;
}
.section-start:last-of-type{
margin-bottom: 0px;
}